<ion-view>
    <ion-content scroll="false">
        <hr id="up_hr"/>
        <hr id="down_hr"/>
        <img id="photo_anniu" src="img/colorclass/photo_anniu.png" alt=""/>
        <img id="ceyan_photo" src="img/colorclass/ceyan_1.png" alt=""/>
        <img id="shuoming" src="img/colorclass/shuoming.png" alt=""/>
        <img id="complete" src="img/colorclass/complete.png" alt=""/>
        <img id="photo_back" src="img/colorclass/photo_back.png" ng-click="backThree_secai_1()" alt=""/>
    </ion-content>
</ion-view>