<ion-view>
    <ion-content scroll="false">
        <div id="sebiao_1" class="sebiao"></div>
        <div id="sebiao_2" class="sebiao"></div>
        <div id="sebiao_3" class="sebiao"></div>
        <div id="sebiao_4" class="sebiao"></div>
        <div id="sebiao_5" class="sebiao"></div>
        <div id="sebiao_6" class="sebiao"></div>
        <div id="sebiao_7" class="sebiao"></div>
        <img id="tiaoseban" src="img/colorclass/tiaoseban.png" alt=""/>
        <hr id="up_hr"/>
        <hr id="down_hr"/>
        <img id="photo_anniu" src="img/colorclass/photo_anniu.png" alt=""/>
        <img id="ceyan_photo" src="img/colorclass/ceyan_4.png" alt=""/>
        <img id="shuoming" src="img/colorclass/shuoming.png" alt=""/>
        <img id="complete" src="img/colorclass/complete.png" alt=""/>
        <img id="photo_back" src="img/colorclass/photo_back.png" ng-click="backThree_secai_4()" alt=""/>
    </ion-content>
</ion-view>