<!--可以将<ion-view>标签视为<html>标签，在其中写页面-->
<ion-view>
    <!--bjup背景图片上半圆-->
    <img class="bjup" src="img/bjup.png" alt=""/>
    <!--bjdown背景图片下半边-->
    <img class="bjdown" src="img/bjdown.png" alt=""/>
    <ion-content scroll="false">
        <!--色彩课堂菜单图片-->
        <img class="upmenu" src="img/freedraw/ziyouhua.png" alt=""/>
        <div class="container" >
            <!--四章按钮-->
            <div id="twosecaimainanniu_2hezi">
                <img id="twosecaimainone" src="img/freedraw/one.png" alt=""/>
                <img class="twosecaimainanniu_2" id="free_two_1" src="img/freedraw/two.png" alt=""/>
                <img class="twosecaimainanniu_2" id="free_two_2" src="img/freedraw/lock.png" alt=""/>
                <img class="twosecaimainanniu_2" id="free_three_1" src="img/freedraw/three.png" alt=""/>
                <img class="twosecaimainanniu_2" id="free_three_2" src="img/freedraw/lock.png" alt=""/>
                <img class="twosecaimainanniu_2" id="free_four_1" src="img/freedraw/four.png" alt=""/>
                <img class="twosecaimainanniu_2" id="free_four_2" src="img/freedraw/lock.png" alt=""/>
            </div>
        </div>
    </ion-content>
    <!--返回按钮-->
    <img class="goback" src="img/goback.gif" alt="" ng-click="backFirst()"/>
</ion-view>

