<!--可以将<ion-view>标签视为<html>标签，在其中写页面-->
<ion-view>
    <!--bjup背景图片上半圆-->
    <img class="bjup" src="img/bjup.png" alt=""/>
    <!--bjdown背景图片下半边-->
    <img class="bjdown" src="img/bjdown.png" alt=""/>
    <ion-content scroll="false">
        <!--自由画菜单图片-->
        <img class="upmenu" src="img/freedraw/ziyouhua.png" alt=""/>
        <div class="container" >
            <!--四章按钮-->
            <div id="twosecaimainanniu_2hezi">
                <img id="twosecaimainone" src="img/freedraw/one.png" ng-click="goThree_free_1()" alt=""/>
                <img class="twosecaimainanniu_2" ng-if="freeRank>=2" src="img/freedraw/two.png" ng-click="goThree_free_2()" alt=""/>
                <img class="twosecaimainanniu_2" ng-if="freeRank<2" src="img/freedraw/lock.png"  alt=""/>
                <img class="twosecaimainanniu_2" ng-if="freeRank>=3" src="img/freedraw/three.png" ng-click="goThree_free_3()" alt=""/>
                <img class="twosecaimainanniu_2" ng-if="freeRank<3" src="img/freedraw/lock.png" alt=""/>
                <img class="twosecaimainanniu_2" ng-if="freeRank>=4" src="img/freedraw/four.png" ng-click="goThree_free_4()" alt=""/>
                <img class="twosecaimainanniu_2" ng-if="freeRank<4" src="img/freedraw/lock.png" alt=""/>
            </div>
        </div>
    </ion-content>
    <!--返回按钮-->
    <img class="goback" src="img/goback.gif" alt="" ng-click="backFirst()"/>
</ion-view>

