<!--可以将<ion-view>标签视为<html>标签，在其中写页面-->
<ion-view>
    <!--bjup背景图片上半圆-->
    <img class="bjup" src="img/bjup.png" alt=""/>
    <!--bjdown背景图片下半边-->
    <img class="bjdown" src="img/bjdown.png" alt=""/>
    <ion-content scroll="false">
        <div class="container" >
            <!--画廊菜单图片-->
            <img class="upmenu" src="img/gallery/hualang.png" alt=""/>
            <!--画廊内容-->
            <div class="hualanggezi" id="hualang_1"></div>
            <div class="hualanggezi" id="hualang_2"></div>
            <div class="hualanggezi" id="hualang_3"></div>
            <div class="hualanggezi" id="hualang_4"></div>
            <div class="hualanggezi" id="hualang_5"></div>
            <div class="hualanggezi" id="hualang_6"></div>
            <div class="hualanggezi" id="hualang_7"></div>
            <div class="hualanggezi" id="hualang_8"></div>
            <div class="hualanggezi" id="hualang_9"></div>
            <!--长按删除界面-->
            <div id="delete">
                <img id="photo_delete" src="img/gallery/photo_delete.png" alt=""/>
                <img id="text_delete" src="img/gallery/text_delete.png" alt=""/>
                <img id="photo_delete_yes" src="img/gallery/photo_delete_yes.png" alt=""/>
                <img id="photo_delete_no" src="img/gallery/photo_delete_no.png" alt=""/>
            </div>
            <!--翻页按钮-->
            <img id="last" src="img/gallery/last.png" alt=""/>
            <img id="next" src="img/gallery/next.png" alt=""/>
        </div>
    </ion-content>
    <!--返回按钮-->
    <img id="goback_3" src="img/goback.gif" alt="" ng-click="backFirst()"/>
</ion-view>
