<!--可以将<ion-view>标签视为<html>标签，在其中写页面-->
<ion-view>
    <!--bjup背景图片上半圆-->
    <img class="bjup" src="img/bjup.png" alt=""/>
    <ion-content scroll="false">
            <!--色彩课堂菜单图片-->
            <img class="upmenu" src="img/colorclass/secaiketang.png" alt=""/>
            <!--五章按钮-->
        <div id="twosecaimainanniuhezi">
            <img id="twosecaimainone" src="img/colorclass/one.png" ng-click="goThree_secai_1()" alt=""/>
            <img class="twosecaimainanniu" ng-if="classRank>=2" src="img/colorclass/two.png" ng-click="goThree_secai_2()" alt=""/>
            <img class="twosecaimainanniu" ng-if="classRank<2" src="img/colorclass/two_lock.png" alt=""/>
            <img class="twosecaimainanniu" ng-if="classRank>=3" src="img/colorclass/three.png" ng-click="goThree_secai_3()" alt=""/>
            <img class="twosecaimainanniu" ng-if="classRank<3" src="img/colorclass/three_lock.png" alt=""/>
            <img class="twosecaimainanniu" ng-if="classRank>=4" src="img/colorclass/four.png" ng-click="goThree_secai_4()" alt=""/>
            <img class="twosecaimainanniu" ng-if="classRank<4" src="img/colorclass/four_lock.png" alt=""/>
        </div>
    </ion-content>
    <!--返回按钮-->
    <img class="goback" src="img/goback.gif" alt="" ng-click="backFirst()"/>
    <!--bjdown背景图片下半边-->
    <img class="bjdown" src="img/bjdown.png" alt=""/>
</ion-view>

