<!--可以将<ion-view>标签视为<html>标签，在其中写页面-->
<ion-view>
    <ion-content scroll="false">
        <div class="container" >
            <!--bjup背景图片上半圆-->
            <img class="bjup" src="img/bjup.png" alt=""/>
            <!--bjdown背景图片下半边-->
            <img class="bjdown" src="img/bjdown.png" alt=""/>
            <!--画廊菜单图片-->
            <img class="upmenu" src="img/gallery/hualang.png" alt=""/>
            <!--画廊内容-->
            <div id="hualanghezi">
                <ul id="hualanggezi">
                    <li><div><img src="" alt=""/></div></li>
                    <li><div><img src="" alt=""/></div></li>
                    <li><div><img src="" alt=""/></div></li>
                    <li><div><img src="" alt=""/></div></li>
                    <li><div><img src="" alt=""/></div></li>
                    <li><div><img src="" alt=""/></div></li>
                    <li><div><img src="" alt=""/></div></li>
                    <li><div><img src="" alt=""/></div></li>
                    <li><div><img src="" alt=""/></div></li>
                </ul>
            </div>
            <!--翻页按钮-->
            <img id="last" src="img/gallery/last.png" alt=""/>
            <img id="next" src="img/gallery/next.png" alt=""/>
            <!--返回按钮-->
            <img id="goback_3" src="img/goback.gif" alt="" ng-click="backFirst()"/>
        </div>
    </ion-content>
</ion-view>

