<!--可以将<ion-view>标签视为<html>标签，在其中写页面-->
<ion-view>
    <!--bjup背景图片上半圆-->
    <img class="bjup" src="img/bjup.png" alt=""/>
  <ion-content scroll="false">
      <!--<div class="container">-->

          <!--&lt;!&ndash;中间图片&ndash;&gt;-->
          <img id="hellocenter" src="img/hellocenter.gif" alt=""/>
          <!--&lt;!&ndash;点击开始文字&ndash;&gt;-->
          <div id="begin" ng-click="goFirst()"><a>点击开始</a></div>
      <!--</div>-->
    <!--用ng-click绑定点击事件，goFirst方法在控制器中定义-->
    <!--<button ng-click="goFirst()">跳转第一页</button>-->
      <!--<button ng-click="goBackStart()">回首页</button>-->
  </ion-content>
    <!--bjdown背景图片下半边-->
    <img class="bjdown" src="img/bjdown.png" alt=""/>
</ion-view>
