<ion-view>
    <ion-content scroll="false">
        <div class="upFixed">
            <img id="upFixed_Text" src="img/colorclass/uptext_3.png" alt=""/>
            <img id="upFixed_Img" src="img/colorclass/back.png" ng-click="backSecond_1()" alt=""/>
        </div>
        <div class="text">
            <img class="photo_text" src="img/colorclass/three/1.png" alt=""/>
            <img class="photo_text" src="img/colorclass/three/2.png" alt=""/>
            <img class="photo_text" src="img/colorclass/three/3.png" alt=""/>
            <img class="photo_text" src="img/colorclass/three/4.png" alt=""/>
            <img class="photo_text" src="img/colorclass/three/5.png" alt=""/>
            <img class="photo_text" src="img/colorclass/three/6.png" alt=""/>
            <img id="ceshianniu" src="img/colorclass/ceshi.png" ng-click="goFour_secai_3()"/>
        </div>
    </ion-content>
</ion-view>