<ion-view>
    <ion-content scroll="false">
        <div class="upFixed">
            <img id="upFixed_Text" src="img/colorclass/uptext_2.png" alt=""/>
            <img id="upFixed_Img" src="img/colorclass/back.png" ng-click="backSecond_1()" alt=""/>
        </div>
        <div class="text">
            <p></p>
            <p class="p_title">1.统调：</p>
            <p class="paragraph">顾名思义，就是使色调统一。</p>

            <p class="paragraph">统一色调能够使各色彩并置时都呈现统一谐调的倾向，是色彩调和的最典型状态。</p>

            <p class="paragraph">统一色调的方法主要有：</p>

            <p class="paragraph">各色彩都是相同或相近的色相；</p>

            <p class="paragraph">各色彩都有相同或相近的明度； </p>

            <p class="paragraph">各色彩都有较低的纯度。</p>
            <img class="p_photo" src="img/colorclass/two/1.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/two/2.jpg" alt=""/>
            <p class="p_title">2、抑扬</p>

            <p class="paragraph">在两个以上的色彩组合中，通过调节色彩对比的强弱，使色彩的一部分沉静，另一部分活跃起来，形成张弛有度的关系。色彩沉静部分的面积越大，整体调和感就越强，双方的比例越接近，整天的对比度就越强。</p>
            <img class="p_photo" src="img/colorclass/two/3.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/two/4.jpg" alt=""/>
            <p class="p_title">3、对比</p>

            <p class="paragraph">色彩的组合是由对比色构成的，这样的色彩组合效果鲜明生动，富于活力。对比色组合的最强对比是互补色的组合，红与绿、黄与紫、蓝与橙是互补色对比的三种基本类型。</p>

            <p class="paragraph">对比色和互补色的组合处理不当时容易出现不协和的问题，在使用时要通过一些使颜色调和起来的方法来缓和冲突，主要的方法有：</p>

            <p class="paragraph">减弱一方色彩的明度；</p>

            <p class="paragraph">减弱一方色彩的纯度；</p>

            <p class="paragraph">减弱双方色彩的纯度；</p>

            <p class="paragraph">加大双方色彩的面积对比；</p>

            <p class="paragraph">打散对比色彩双方的形状；</p>

            <p class="paragraph">用黑白灰等无彩色作间隔。</p>
            <img class="p_photo" src="img/colorclass/two/5.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/two/6.jpg" alt=""/>
            <p class="p_title">4、灰调</p>

            <p class="paragraph">色彩组合中的所有颜色都降低纯度后就形成了灰色调。灰色调中各个颜色都含有共同的灰度色，形成了同一的趋向，个性减弱，调和感增强。</p>

            <p class="paragraph">灰调色是优雅的颜色，色彩含蓄有厚度，色调越灰，色调越调和。但极端的灰色调也会走向色彩感消失，成为无彩色的组合。</p>
            <img class="p_photo" src="img/colorclass/two/7.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/two/8.jpg" alt=""/>
            <iframe class="video" src="http://player.youku.com/embed/XMTUwMTE2ODQxNg==" frameborder=0 allowfullscreen></iframe>
            <iframe class="video" src="http://player.youku.com/embed/XMTUwMTE2ODM1Ng==" frameborder=0 allowfullscreen></iframe>
            <img id="ceshianniu" src="img/colorclass/ceshi.png" ng-click="goFour_secai_2()"/>
        </div>
    </ion-content>
</ion-view>