<ion-view>
    <ion-content scroll="false">
        <div class="upFixed">
            <img id="upFixed_Text" src="img/colorclass/uptext_3.png" alt=""/>
            <img id="upFixed_Img" src="img/colorclass/back.png" ng-click="backSecond_1()" alt=""/>
        </div>
        <div class="text">
            <p></p>
            <p class="p_title">主色相统合法：</p>
            <p class="paragraph">在着装的色彩组合中，以基本色相为统领，突出一个色相的主色调，是既突出主调，又高度调和统一的组合途径。</p>

            <p class="paragraph">红、橙、黄、蓝、绿、紫是色彩世界中的几个基本色相。各基本色相都有鲜明的性格和象征性，也表现为一定的主题。</p>

            <p class="paragraph">下面的色调来源于香山的秋色主题，红、橙、黄主色再辅以不同明度和纯度的演化，形成了醇厚浓郁的色调。</p>
            <img class="p_photo" src="img/colorclass/three/1.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/2.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/3.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/4.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/5.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/6.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/7.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/8.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/9.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/10.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/11.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/12.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/13.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/14.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/15.jpg" alt=""/>
            <p class="paragraph">在下面的案例中，在服装款型不变的基础上，各套服装都以单一的主色表现，仅仅通过纯度的调节，就取得了十分丰富高雅的表现力。</p>
            <img class="p_photo" src="img/colorclass/three/16.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/17.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/18.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/19.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/20.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/21.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/22.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/three/23.jpg" alt=""/>
            <img id="ceshianniu" src="img/colorclass/ceshi.png" ng-click="goFour_secai_3()"/>
        </div>
    </ion-content>
</ion-view>