<ion-view>
    <ion-content scroll="false">
        <div class="upFixed">
            <img id="upFixed_Text" src="img/colorclass/uptext_4.png" alt=""/>
            <img id="upFixed_Img" src="img/colorclass/back.png" ng-click="backSecond_1()" alt=""/>
        </div>
        <div class="text">
            <p></p>
            <p class="p_title">采集创意篇</p>
            <p class="paragraph">自然界的色彩是丰富动人的，它们构成了自然美。日月云霞、原野山川、江河湖海、花木林果和鸟兽禽鱼……都无不以美妙丰富的色彩展现出绮丽的光色。</p>

            <p class="paragraph">大自然是取之不尽用之不竭的色彩宝库。自然色是和谐、统一的典范，即使是任意攫取任何自然色彩的一个片断，它的天然的统一调性都具有无以伦比的调和品质。</p>

            <p class="paragraph">自然界是色彩创作设计的源泉，是搜集素材最理想的地域。我们只要仔细观察，一切美妙的色彩都会成为我们激发灵感的无尽资源。</p>

            <p class="paragraph">下面让我们尝试从植物、人为物、自然材质中选取标本、采集色彩，整理色谱并应用于在服装色彩设计中的方法。</p>

            <p class="p_title">视频：采集创意的过程</p>
            <p></p>
            <p class="p_title">脚本1—采集色彩：</p>

            <p class="paragraph">拍摄一个采集对象</p>

            <p class="paragraph">导入Photoshop，</p>

            <p class="paragraph">裁剪换面，</p>

            <p class="paragraph">用“图像—”“调整”—“亮度/对比度”调准色彩</p>

            <p class="paragraph">在“滤镜库”—木刻中调整“色阶”数值，确定提取颜色数量</p>

            <p class="paragraph">在画面下方用灰色做出相应数量色块</p>

            <p class="paragraph">用“吸管”工具在画面吸取颜色</p>

            <p class="paragraph">把吸取的色彩依次填色到灰色块，完成色谱提取。</p>

            <p class="p_title">脚本2—采集色彩：</p>

            <p class="paragraph">建立一个新文件，RGB格式，A4横画幅，150DPI分辨率</p>

            <p class="paragraph">导入服装模特原型文件（PSD分层文件，预分好服装部件分色图层）</p>

            <p class="paragraph">导入采集色彩文件，与服装图并置于画面内</p>

            <p class="paragraph">用“吸管”工具在色谱中依次吸取颜色，填在服装相应部位</p>

            <p class="paragraph">存储完成的创意色彩图</p>

            <p class="paragraph">在完成的彩色图基础上，用“图像”“图像—”“调整”—“色相/饱和度”</p>

            <p class="paragraph">调整推演出系列色彩方案，依次存储变化的结果</p>

            <p class="p_title">示例图：《窗前》</p>

            <p class="p_title">采集：</p>
            <img class="p_photo" src="img/colorclass/four/1.jpg" alt=""/>
            <p class="p_title">提取、转移、重构：</p>
            <img class="p_photo" src="img/colorclass/four/2.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/four/3.jpg" alt=""/>
            <img id="ceshianniu" src="img/colorclass/ceshi.png" ng-click="goFour_secai_4()"/>
        </div>
    </ion-content>
</ion-view>