<ion-view>
    <ion-content scroll="false">
        <!--用ng-click绑定点击事件，goFirst方法在控制器中定义-->
        <!--<button ng-click="goFirst()">跳转第一页</button>-->
        <!--<button ng-click="goBackStart()">回首页</button>-->
        <div class="upFixed">
            <img id="upFixed_Text" src="img/colorclass/uptext_1.png" alt=""/>
            <img id="upFixed_Img" src="img/colorclass/back.png" ng-click="backSecond_1()" alt=""/>
        </div>
        <div class="text">
            <p class="text_h">看色彩辨服装</p>
            <p>服装的世界绚烂多姿，我们观赏时首先接受的是它的色彩。</p>
            <p>掌握一些观察色彩、分析色彩、组织色彩的知识，我们就能在服装色彩的世界中自主设计、尽情发挥创造力。</p>
            <p>色彩世界变化万千，怎样辨别和描述它呢？</p>
            <p class="text_h">色彩入门的钥匙——色彩的“三要素”：</p>
            <p>任何色彩的存在，都是明度、色相和纯度这三个特征共同存在、互为作用的结果，我们称它们为色彩的三要素。</p>
            <p>例如某个颜色我们要具体描述时称它为“浅的红灰”，这“浅”、“红”、 “灰”就分别是明度、色相和纯度的表述，缺一个方面描述就会不完整。</p>
            <p><b>要素之一：明度</b>，是指色彩的明暗（或叫深浅）的程度。</p>
            <p>不同颜色有不同的明度，如紫色比黄色深。</p>
            <p>同一颜色也有不同的明度变化，如红色也有深红或浅红。</p>
            <p><b>从明度看服装色彩：深——浅</b></p>
            <p><b>要素之二：色相</b>，是指色彩的相貌，如大红、桔黄、湖蓝等。</p>
            <p>最基本的色相是三原色，即红、黄、蓝。由这三色可以调混出所有色相。</p>
            <p><b>从色相看服装色彩：蓝——红</b></p>
            <p><b>要素之三：纯度</b>是指色彩纯粹或灰暗的程度。我们看到的色彩都有一定的鲜灰度，色彩的纯度越高，看起来就越鲜艳，反之，色彩的纯度越低，看起来就越灰。</p>
            <p><b>从纯度看服装色彩：纯—灰</b></p>
            <p class="text_h">看色调解搭配</p>
            <p><b>明度的基调</b></p>
            <img id="ceshianniu" src="img/colorclass/ceshi.png" ng-click="goFour_secai_1()"/>
        </div>
    </ion-content>
</ion-view>