<!--可以将<ion-view>标签视为<html>标签，在其中写页面-->
<ion-view>
    <!--bjup背景图片上半圆-->
    <img class="bjup" src="img/bjup.png" alt=""/>
    <ion-content scroll="false">
        <!--level-->
        <div id="free_level">level&nbsp;&nbsp;<img class="level" id="level_1" src="img/freedraw/level.png" alt=""/>
            <img class="level" id="level_2" src="img/freedraw/level.png" alt=""/>
            <img class="level" id="level_3" src="img/freedraw/level.png" alt=""/>

        </div>
        <!--自由画菜单图片-->
        <img class="upmenu" src="img/freedraw/ziyouhua.png" alt=""/>
        <div class="free_photo">
            <img ng-src="{{svgUrl}}" width="200%" height="200%" style="margin-left:-50%"/>
        </div>
        <!--左右按钮-->
        <img id="free_left" ng-click="goPre()" src="img/freedraw/free_left.png" alt=""/>
        <img id="free_right" ng-click="goAft()" src="img/freedraw/free_right.png" alt=""/>
    </ion-content>
    <!--返回按钮-->
    <img class="goback" src="img/goback.gif" alt="" ng-click="backSecond_2()"/>
    <!--bjdown背景图片下半边-->
    <img class="bjdown" src="img/bjdown.png" alt=""/>
</ion-view>