<ion-view>
    <ion-content scroll="false">
        <!--用ng-click绑定点击事件，goFirst方法在控制器中定义-->
        <!--<button ng-click="goFirst()">跳转第一页</button>-->
        <!--<button ng-click="goBackStart()">回首页</button>-->
        <div class="upFixed">
            <img id="upFixed_Text" src="img/colorclass/uptext_1.png" alt=""/>
            <img id="upFixed_Img" src="img/colorclass/back.png" ng-click="backSecond_1()" alt=""/>
        </div>
        <div class="text">
            <!--正文内容-->
            <!--最上面防止距离太小-->
            <p></p>
            <p class="p_title">看色彩辨服装</p>
            <p class="paragraph">服装的世界绚烂多姿，我们观赏时首先接受的是它的色彩。</p>

            <p class="paragraph">掌握一些观察色彩、分析色彩、组织色彩的知识，我们就能在服装色彩的世界中自主设计、尽情发挥创造力。</p>

            <p class="paragraph">色彩世界变化万千，怎样辨别和描述它呢？</p>

            <p class="p_title">色彩入门的钥匙——色彩的“三要素”：</p>

            <p class="paragraph">任何色彩的存在，都是明度、色相和纯度这三个特征共同存在、互为作用的结果，我们称它们为色彩的三要素。</p>

            <p class="paragraph">例如某个颜色我们要具体描述时称它为“浅的红灰”，这“浅”、“红”、 “灰”就分别是明度、色相和纯度的表述，缺一个方面描述就会不完整。</p>

            <p class="p_title">要素之一：明度</p>

            <p class="paragraph">是指色彩的明暗（或叫深浅）的程度。</p>

            <p class="paragraph">不同颜色有不同的明度，如紫色比黄色深。</p>

            <p class="paragraph">同一颜色也有不同的明度变化，如红色也有深红或浅红。</p>

            <p class="p_title">从明度看服装色彩：深——浅</p>
            <img class="p_photo" src="img/colorclass/one/1.jpg" alt=""/>
            <p class="p_title">要素之二：色相</p>

            <p class="paragraph">是指色彩的相貌，如大红、桔黄、湖蓝等。</p>

            <p class="paragraph">最基本的色相是三原色，即红、黄、蓝。由这三色可以调混出所有色相。</p>

            <p class="p_title">从色相看服装色彩：蓝——红</p>
            <img class="p_photo" src="img/colorclass/one/2.jpg" alt=""/>
            <p class="p_title">要素之三：纯度</p>

            <p class="paragraph">是指色彩纯粹或灰暗的程度。我们看到的色彩都有一定的鲜灰度，色彩的纯度越高，看起来就越鲜艳，反之，色彩的纯度越低，看起来就越灰。</p>

            <p class="p_title">从纯度看服装色彩：纯—灰</p>
            <img class="p_photo" src="img/colorclass/one/3.jpg" alt=""/>
            <p class="p_title">看色调解搭配</p>

            <p class="p_title">明度的基调</p>
            <img class="p_photo" src="img/colorclass/one/4.jpg" alt=""/>
            <p class="paragraph">在色彩中，黑色与白色是反差效果最强烈的明度对比色，它们之间容纳着诸多的有彩色和无彩色的灰色序列。</p>

            <p class="paragraph">在黑与白构成的11个等级明度色阶表上，可以按照一定的搭配次序，将其组织为不同基调的明度对比类型。</p>

            <p class="paragraph">以低明度色彩为主构成低明度基调。</p>

            <p class="paragraph">以中明度色彩为主构成中明度基调。</p>

            <p class="paragraph">以高明度色彩为主构成高明度基调。</p>

            <p class="paragraph">高明度基调给人的感觉是轻快、柔软、明朗、娇媚、纯洁，如应用不当会使人感觉冷淡、柔弱。</p>

            <p class="paragraph">中调给人丰富、充实、含蓄、和谐，具有如做梦似的薄暮般感，可表达出既有厚度又不失柔媚的色彩语境。</p>

            <p class="paragraph">低调显现出力量、沉重、雄浑、忧郁、神秘等感觉，但处理不当也会沉闷抑郁。</p>

            <p class="p_title">色相的基调：</p>
            <img class="p_photo" src="img/colorclass/one/5.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/one/6.jpg" alt=""/>
            <p class="p_title">同类色调：</p>

            <p class="paragraph">色相之间在色相环上的距离角度在15°以内为同类色相对比，同类色相之间的差别很小，基本相同，一般只能构成明度及纯度方面的差别，是最弱的色相对比。</p>
            <p class="paragraph">同类色相组合单纯、朴素、静谧、融洽、含蓄，色彩容易调和统一，具有柔弱、模糊、和谐的特点，但容易产生单调、平淡之感。</p>
            <img class="p_photo" src="img/colorclass/one/7.jpg" alt=""/>
            <p class="p_title">类似色调</p>

            <p class="paragraph">色相之间的距离角度在45°左右的对比为类似色相对比，是色相的弱对比。</p>

            <p class="paragraph">由于这种对比的色彩在色相环上常处于左邻右舍的状态，因此在整体上容易形成既统一又变化的色彩并置意境。例如，黄与绿或黄与绿、橙的组合。</p>

            <p class="paragraph">这种色相对比因为刺激适中、视感明晰、色调鲜明、美感突出，其色相感比同一色相对比要明快些、活泼些、丰富些，可弥补同类色相对比的不足，又能获得统一、和谐、雅致、含蓄、柔和耐看的优点。</p>
            <img class="p_photo" src="img/colorclass/one/8.jpg" alt=""/>
            <p class="p_title">对比色调</p>

            <p class="paragraph">色相之间的距离角度在120°左右的对比为对比色相，是色相的强对比。</p>

            <p class="paragraph">对比色相的色相感要比类似色相对比鲜明、明确、饱满、丰富、强烈，是色相的强对比。如红与蓝、红与黄，蓝与黄、红黄蓝、橙与绿、绿与紫、橙与紫、橙绿紫等……。对比效果鲜明、强烈，能使人兴奋激动。它不容易单调，但容易产生杂乱和过分刺激。</p>
            <img class="p_photo" src="img/colorclass/one/9.jpg" alt=""/>
            <p class="p_title">互补色调</p>

            <p class="paragraph">色相之间的距离角度为180°左右的对比为互补色相对比。是最强的色相对比。</p>

            <p class="paragraph">互补色相对比是色相匹配关系中最强烈、最饱满、最充实的一种。它让色彩的对比达到了最大的鲜明程度，并且极大地提高了色彩的相互作用。互补色相的色相感，比对比色相效果更强烈、更丰富、更完美、更有刺激性。但如运用不当，特别是高纯度的互补色相，会产生过分刺激、不含蓄、不雅致、不协调、不安定的感觉。</p>
            <img class="p_photo" src="img/colorclass/one/10.jpg" alt=""/>
            <p class="p_title">纯度基调：</p>

            <p class="paragraph">高纯度色彩艳丽透明，具有易见度高、色相感强、引人注目的特点，给人感觉积极、强烈而冲动，有明丽、外向、快乐、聪明，活泼的感觉。但如运用不当也会产生生硬、低俗、杂乱、刺激等效果。</p>
            <img class="p_photo" src="img/colorclass/one/11.jpg" alt=""/>
            <p class="paragraph">中纯度色彩以含灰色为主导，色相感柔弱，对比适中。中纯度基调给人的感觉是中庸，文雅、调和、亲切。</p>
            <img class="p_photo" src="img/colorclass/one/12.jpg" alt=""/>
            <p class="paragraph">低纯度色彩以灰色为主导，所以清晰度低、色相感弱，适宜长久注视，有自然、简朴、耐用、超俗、安静、无争、随和的感觉。使用不当也感到平淡、消极、缺少激情。如加入适当的点缀色，可使画面产生活跃的效果，但点缀色的分量必须掌握好。</p>
            <img class="p_photo" src="img/colorclass/one/13.jpg" alt=""/>
            <p class="p_title"><center>读色彩品内涵</center></p>

            <p class="paragraph">色彩是特定的视觉语言符号。它们在展示着自己斑斓多彩的风姿同时表达着丰富的象征意蕴，在长期的文化积淀中，各基本色相已经形成了相对固定的意义符号。解读色彩的这些内在意蕴，对服装色彩的内涵理解有着重要的启示。</p>

            <p class="p_title">红色</p>

            <p class="paragraph">红色是太阳和火的颜色，它热烈、欢快、充满活力，它活泼、庄重、激昂。红色的抽象联想所引出的被象征事物是：希望、热情、积极、强烈、血性、生命力、竞赛、战斗、征服、进取、胜利。在我国民间的年节、人们又总是把红色和喜庆连在一起。</p>
            <img class="p_photo" src="img/colorclass/one/14.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/one/15.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/one/16.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/one/17.jpg" alt=""/>
            <p class="p_title">橙色</p>

            <p class="paragraph">橙色是介于红色和黄色之间的混合色，它是最具温暖感的色彩，在暖色中具有醇厚、饱满、活跃的特点。橙色是典型的金秋色彩，象征着成熟、富足、丰硕、辉煌。</p>
            <img class="p_photo" src="img/colorclass/one/18.jpg" alt=""/>
            <p class="p_title">绿色</p>

            <p class="paragraph">绿色，被视为希望与繁荣的象征，绿色给人以希望。绿色显示着蓬勃的生机和无限的生命力，能给人以复苏、生长的印象。</p>

            <p class="paragraph">绿色又是祥和、和平的色彩象征，能把人的想象引到新生、生命力、健康、希望、繁荣、等意念上，并给人以清新活泼或宁静幽深的美感。</p>

            <p class="paragraph">绿色又是天然、环保、健康的代表色。</p>
            <img class="p_photo" src="img/colorclass/one/19.jpg" alt=""/>
            <p class="p_title">黄色</p>

            <p class="paragraph">黄色是和煦的阳光、大地、谷物、金子等物的色相。黄色能引起人的舒坦、开朗、暖和、活跃的心理反应。所以，黄色的抽象联想所引出的被象征事物可以是光明、希望、明朗、温暖、弛缓、尊敬、期待等。黄色给人以娇嫩、幼稚的感觉。</p>

            <p class="p_title">蓝色</p>

            <p class="paragraph">蓝色是天空、海水等物象的自然色相。给人的感觉是宁静、开阔、清澈。具有空阔、旷远、清爽、宁静与深远的心理感受。</p>

            <p class="paragraph">蓝色以其纯净、理智和神秘的感受带给人精致、慎密、理性和想象，在当代社会，蓝色常与科学技术、信息工程等领域象征关联。</p>
            <img class="p_photo" src="img/colorclass/one/20.jpg" alt=""/>
            <img class="p_photo" src="img/colorclass/one/21.jpg" alt=""/>
            <p class="p_title">紫色</p>

            <p class="paragraph">紫色既没有红色的冲动与鲜明，也不象蓝色那样安静与沉稳。它含而不露，具有一种诱人的矜持；它幽而不暗，神圣而又深远，同时又清淡而不贫乏，隐藏着一种独特的魅力。优雅、华贵、妩媚是紫色最典型的面孔。紫色又有游离、梦幻、神秘、矜持的象征。</p>

            <p class="paragraph">紫色因其能引起人们产生矜持、深沉、神秘、华贵等方面的感受，所以自唐以来一直成为高官华服的颜色。</p>
            <img class="p_photo" src="img/colorclass/one/22.jpg" alt=""/>
            <p class="p_title">金银色：</p>

            <p class="paragraph">金银色也称“极色”，因其产生于贵重的材料，在应用中是与华贵对应的符号色，用它会产生一种雍容华贵之感。金银作为一种天然材料，它们的光泽给人产生美感。特别是在各种颜色配置不协调的情况下，使用了金银色会使它们立刻和谐起来。金、银色使人联想到自然界的景色，金色与黄的色相相似，由金色联想到丰收的秋天，落日的余辉，迷人的朝霞。</p>

            <p class="p_title">白色：</p>

            <p class="paragraph">它是淡云、冰雪、明月、玉石等自然物象的本色。这些事物本身给人以非常洁静的感受，人们由此得到的启示中，把白色视为未经浸染的纯净色。是洁静无污的象征。白色的抽象联想是高洁、素雅、纯净、和平、晶莹、坦率、空虚、肃穆和冷峻。白色也有空无、消亡的寓意。</p>

            <p class="p_title">黑色:</p>

            <p class="paragraph">黑色是暗夜、洞窟、烟尘、煤炭等物象的自然本色。黑色是吸收光的色彩，它否定一切色彩，可以说是有色无彩。黑色具有坚实厚重的品质，黑色的凝重、深邃使其具有坚毅、强硬和宽厚的性格。有庄重、严肃、坚定的感受。黑色的深不可测又使其充满神秘的意味。在色彩的组合使用中，黑色是最具亲和力的色彩。在与任何色相的搭配中，黑色都能起到调和、沟通、烘托的作用。</p>
            
            <!--测试按钮-->
            <img id="ceshianniu" src="img/colorclass/ceshi.png" ng-click="goFour_secai_1()"/>
        </div>
    </ion-content>
</ion-view>
