<ion-view>
    <ion-content scroll="false">
        <!--用ng-click绑定点击事件，goFirst方法在控制器中定义-->
        <!--<button ng-click="goFirst()">跳转第一页</button>-->
        <!--<button ng-click="goBackStart()">回首页</button>-->
        <div class="upFixed">
            <img id="upFixed_Text" src="img/colorclass/uptext_1.png" alt=""/>
            <img id="upFixed_Img" src="img/colorclass/back.png" ng-click="backSecond_1()" alt=""/>
        </div>
        <div class="text">

            <img id="ceshianniu" src="img/colorclass/ceshi.png" ng-click="goFour_secai_1()"/>
        </div>
    </ion-content>
</ion-view>