<ion-view>
    <ion-content scroll="false">
        <div class="upFixed">
            <img id="upFixed_Text" src="img/colorclass/uptext_2.png" alt=""/>
            <img id="upFixed_Img" src="img/colorclass/back.png" ng-click="backSecond_1()" alt=""/>
        </div>
        <div class="text">
            <img class="photo_text" src="img/colorclass/two/1.png" alt=""/>
            <img class="photo_text" src="img/colorclass/two/2.png" alt=""/>
            <img class="photo_text" src="img/colorclass/two/3.png" alt=""/>
            <img class="photo_text" src="img/colorclass/two/4.png" alt=""/>
            <img class="photo_text" src="img/colorclass/two/5.png" alt=""/>
            <img class="photo_text" src="img/colorclass/two/6.png" alt=""/>
            <img id="ceshianniu" src="img/colorclass/ceshi.png" ng-click="goFour_secai_2()"/>
        </div>
    </ion-content>
</ion-view>