/* Empty. Add your own CSS if you like */
/*通配*/
*{margin: 0;padding: 0;}
li{list-style-type: none;}

/*页面背景----全局*/
/*整个页面用一个大盒子来承载*/
/*.container{width: 100%;height:100%;position:absolute;left:0;right:0;top:0;bottom:0;}*/
/*bjup类用于表示背景图片上半边*/
.bjup{width:100%;height: 22.7%;position:absolute;left: 0;top:-4.06%;z-index: -1}
/*bjdown类用于表示背景图片下半边*/
.bjdown{width:100%;height: auto;position:absolute;left:0;bottom:0;z-index: -1}
/*二级页中上边的圆logo*/
.upmenu{width: 29%;height: 13.5%;position:absolute;top: 4.88%;left: 37.6%;}
/*二级页面返回按钮*/
.goback{width:13.98%;height: auto;position: absolute;bottom: 14.52%;left: 43.5%;}

/*===================欢迎页开始------begin----------*/
/*欢迎页中间图片*/
#hellocenter{width: 65%;height: 19%;margin-top: 35.02%;margin-left: 17.5%;}
/*欢迎页点击开始文字属性*/
#begin{width: 100%;height: auto;color: #62A18E;font-size: 20px; font-weight: 700;letter-spacing: 10px; text-align: center;margin-left: auto;margin-right: auto;margin-top: 35%}
#begin a{text-decoration: none;color: #62A18E;}
#begin a:link{text-decoration: none;color: #62A18E;}
#begin a:hover{text-decoration: none;color: #FF9500;}
#begin a:visited{text-decoration:none;color:#62A18E;}
#begin a:hover{text-decoration: none;color: #FF9500;}
/*=====================欢迎页结束------end----------*/

/*====一级页 全解锁状态=======begin*/
/*减2像素阴影*/
#secai{position: absolute;width: 35.18%;height: 20.6%;left:13%;top:26.01%;}
.ziyou{position: absolute;width: 35.18%;height: 20.6%;right:13%;top:26.01%;}
.hualang{position: absolute;width: 35.18%;height: 20.6%;top:49.32%;left:13%;}
#shezhi{position: absolute;width: 35.18%;height: 20.6%;top:49.32%;right:13%;}
#middle{width:11.57%;height: auto; position: absolute;top: 44.5%;right: 44.5%;}
/*====一级页 全解锁状态=======end*/

/*==========一级页 未解锁状态==========begin======*/
#ziyouon{}
#ziyouoff{display: none}
#hualangon{}
#hualangoff{display: none}
/*==========一级页 未解锁状态==========end======*/

/*=============二级页--色彩课堂&自由画======begin==========*/
/*.goback{position: absolute;bottom: 268px;left: 470px;filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity: 1; opacity: 1;}*/
#twosecaimainone{width: 76.11%;height: 7.48%;position: relative;margin-top: 5.75%;margin-left: 12.68%;}
.twosecaimainanniu{width: 76.11%;height: 7.48%;position: relative;margin-top: 2.17%;margin-left: 12.68%;}
.twosecaimainanniu_2{width: 76.11%;height: 7.48%;position: relative;margin-top: 4.17%;margin-left: 12.68%;}
/*=============二级页--色彩课堂&自由画======end==========*/

/*=============二级页--画廊========begin========*/
#goback_3{width:13.98%;height: auto;position: absolute;bottom: 10.62%;left: 43.52%;}
#hualanghezi{width: 89.81%;height: auto;margin-top: 22.5%;margin-left: 4.63%}
#hualanggezi li{float: left;}
#hualanggezi li div{border: 12px solid #7CB7A5;width:25.55%;height:auto;margin-left: 5%;margin-bottom: 2.27%;box-shadow: 16px 16px 0px 0px rgba(0, 0, 0, 0.1);}
#last{width:22.13%;height: auto; position: absolute;left: 5.1%;bottom: 10.84%;}
#next{width:22.13%;height: auto; position: absolute;right: 5.1%;;bottom: 10.84%;}

/*长按删除页面*/

/*=============二级页--画廊========end========*/

/*=============二级页--设置，制作信息========begin========*/
#wenzishuoming{margin-top:600px;margin-left: 265px;}
/*=============二级页--设置，制作信息========end========*
=======
/*=============二级页--设置，制作信息========end========*/


