/* Empty. Add your own CSS if you like */
/*通配*/
*{margin: 0;padding: 0;}
li{list-style-type: none;}

/*页面背景----全局*/
/*整个页面用一个大盒子来承载*/
/*.container{width: 100%;height:100%;position:absolute;left:0;right:0;top:0;bottom:0;}*/
/*bjup类用于表示背景图片上半边*/
.bjup{width:100%;height: 22.7%;position:absolute;left: 0;top:-4.06%;z-index: -1}
/*bjdown类用于表示背景图片下半边*/
.bjdown{width:100%;height: 20.43%;position:absolute;left:0;bottom:0;z-index: -1}
/*二级页中上边的圆logo*/
.upmenu{width: auto;height: 13.5%;position:absolute;top: 4.88%;left: 37.6%;}
/*二级页面返回按钮*/
.goback{width:auto;height: 8.18%;position: absolute;bottom: 14.11%;left: 43.5%;}

/*===================欢迎页开始------begin----------*/
/*欢迎页中间图片*/
#hellocenter{width: 65%;height: 19%;margin-top: 35.02%;margin-left: 17.5%;}
/*欢迎页点击开始文字属性*/
#begin{width: 100%;height: auto;color: #62A18E;font-size: 1.2em; font-weight: 700;letter-spacing: 10px; text-align: center;margin-left: auto;margin-right: auto;margin-top: 43%}
#begin a{text-decoration: none;color: #62A18E;}
#begin a:link{text-decoration: none;color: #62A18E;}
#begin a:hover{text-decoration: none;color: #FF9500;}
#begin a:visited{text-decoration:none;color:#62A18E;}
#begin a:hover{text-decoration: none;color: #FF9500;}
/*=====================欢迎页结束------end----------*/

/*====一级页 全解锁状态=======begin*/
/*减2像素阴影*/
#secai{position: absolute;width: auto;height: 20.6%;right:52.77%;top:26.01%;}
.ziyou{position: absolute;width: auto;height: 20.6%;left: 52.77%;top:26.01%;}
.hualang{position: absolute;width: auto;height: 20.6%;top:49.32%;right: 52.77%;}
#shezhi{position: absolute;width: auto;height: 20.6%;top:49.32%;left: 52.77%;}
/*#middle{width:auto;height:6.77%; position: absolute;top: 44.5%;right: 44.5%;}*/
#middle{width:auto;height:6.77%; position: absolute;top: 44.5%;right: 44.2%;}
/*====一级页 全解锁状态=======end*/

/*==========一级页 未解锁状态==========begin======*/
#ziyouon{display: none;}
#ziyouoff{}
#hualangon{display: none;}
#hualangoff{}
/*==========一级页 未解锁状态==========end======*/

/*=============二级页--色彩课堂&自由画======begin==========*/
#twosecaimainanniuhezi{width: 100%;height: auto;position: absolute;top: 25.85%;left: 0;}
#twosecaimainone{width: 76.11%;height: auto;position: relative;margin-left: 12.68%;}
.twosecaimainanniu{width: 76.11%;height: auto;position: relative;margin-top: 4.17%;margin-left: 12.68%;}
.twosecaimainanniu_2{width: 76.11%;height: auto;position: relative;margin-top: 4.17%;margin-left: 12.68%;}
#twosecaimainanniu_2hezi{width: 100%;height: auto;position: absolute;top: 29.81%;left: 0;}
/*=============二级页--色彩课堂&自由画======end==========*/

/*=============二级页 未解锁状态--色彩课堂===============begin==========*/
#secai_two_1{display: none;}
#secai_two_2{}
#secai_three_1{display: none;}
#secai_three_2{}
#secai_four_1{display: none;}
#secai_four_2{}
/*=============二级页 未解锁状态--色彩课堂===============end==========*/

/*=============二级页 未解锁状态--自由画===============begin==========*/
#free_two_1{display: none}
#free_two_2{}
#free_three_1{display: none}
#free_three_2{}
#free_four_1{display: none}
#free_four_2{}
/*=============二级页 未解锁状态--自由画===============end==========*/


/*=================三级页面-色彩课堂-第一章---第五章================begin============*/
/*对应html--》》three_secai_1*/
.upFixed{width: 100%;height: 6.50%;border: 0.3em solid #63A28F;border-left: none;border-right: none;display: flex;}
#upFixed_Text{width: auto;height: 2.93%;position: absolute;top: 1.98%;left: 9.05%;}
#upFixed_Img{width: auto;height: 2.93%;position: absolute;top: 1.78%;right: 4.17%}
.text{width: 100%;height: 92.14%;color:#7D7D7D;font-weight: 400;font-size: 1.1em;overflow: auto;line-height: 1.3em}
.p_title{font-weight: bold;font-size: 1.1em;margin-left: 5.26%;margin-right: 5.26%;}
.paragraph{text-indent: 2em;margin-left: 5.26%;margin-right: 5.26%;}
.p_photo{width: 75%;height: auto;font-size: 1em;margin-left: 12.5%;}
#ceshianniu{width: 80.74%;height: 11.38%;margin-left: 10%;}
/*=================三级页面-色彩课堂-第一章---第五章================end============*/

/*================四级页面-色彩课堂-第一章================begin===========*/
/*<!--本页层数 z-index-->*/
/*<!--中间的填图为-1（最底层）,参考图片按钮即图片上面的按钮为2 关闭参考图片层3 参考图片9（防止以后加入其它层，所以跳过1层）*/
/*色板及色板翻页为5层，关闭说明层10，说明以及完成弹出框为7层，关闭按钮为8层-->*/
#tiaoseban{z-index: 3;width: 8.33%;height: auto;position: absolute;top: 3.20%;right: 6.08%;}
#up_hr{z-index: 2;width: 89.35%;height: 0.1em;color:#D0D3D2;position: absolute;top: 10.84%;left: 5.55%;}
.sebiao{width: 8.33%;height: 4.77%;border-radius: 0.5em;}
/*上边色标*/
#sebiao_1{z-index:1;background-color: #2B2B2B;position: absolute;top: 3.14%;left: 6.76%;}
#sebiao_2{z-index:1;background-color: #BEDBBC;position: absolute;top: 3.14%;left: 18.33%;}
#sebiao_3{z-index:1;background-color: #C0D7DD;position: absolute;top: 3.14%;left: 29.63%;}
#sebiao_4{z-index:1;background-color: #D6C1DE;position: absolute;top: 3.14%;left: 40.92%;}
#sebiao_5{z-index:1;background-color: #C4CFAA;position: absolute;top: 3.14%;left: 52.31%;}
#sebiao_6{z-index:1;background-color: #B6BCC4;position: absolute;top: 3.14%;left: 63.24%;}
#sebiao_7{z-index:1;background-color: #D7D9D8;position: absolute;top: 3.14%;left: 74.35%;}
#down_hr{z-index: 2;width: 89.35%;height: 0.1em;color: #D0D3D2;position: absolute;bottom: 10.62%;left: 5.55%;}
#photo_anniu{z-index: 2;width: 8.33%;position: absolute;top: 13.82%;right: 6.39%;}
#photo_1{z-index: 5;display: none; width: 88.70%;height: auto;position: absolute;top: 15.93%;left: 5.65%;}
#photo_bj{display: none;width:100%;height: 100%;z-index:4;position: absolute;top: 0;left: 0;filter:alpha(opacity=80); /*IE滤镜，透明度50%*/  -moz-opacity:0.8; /*Firefox私有，透明度50%*/  opacity:0.8;/*其他，透明度50%*/}
#ceyan_photo{z-index:1;width: 100%;height: 78.99%;position: absolute;bottom: 10.44%;left: 0;overflow: auto}
#shuoming{z-index:1;width: 20.37%;height: auto;position: absolute;bottom:2.98%;left: 9.26%; }
#shuoming_bj{display: none;z-index: 6;width:100%;height: 100%;position: absolute;top: 0;left: 0;filter:alpha(opacity=80); /*IE滤镜，透明度50%*/  -moz-opacity:0.8; /*Firefox私有，透明度50%*/  opacity:0.8;/*其他，透明度50%*/}
#delete_shuoming{z-index: 8;display: none;width: 18%;height: 14%;position: absolute;bottom: 23.45%;right: 2.55%;}
#shuoming_text{z-index: 7;display:none;width: 90.74%;height: auto;position: absolute;bottom: 13.55%;left: 3.88%;box-shadow: 0.4em 0.4em 0 0 rgba(0, 0, 0, 0.1);}
.complete{z-index:1;width: 20.37%;height: auto;position: absolute;bottom:2.98%;left: 40.74%;}
#complete_text{z-index: 7;display:none;width: 92.13%;height: auto;position: absolute;top: 29.27%;left: 3.7%;box-shadow: 0.4em 0.4em 0 0 rgba(0, 0, 0, 0.1);}
#delete_complete{z-index: 8;display: none;width: 20%;height: 15%;position: absolute;top: 25.26%;right: 1.16%;}
#photo_back{z-index:1;width: 20.37%;height: auto;position: absolute;bottom:2.98%;left: 71.30%}
.seban{z-index:3;display:none;width: 37.96%;height: 73.71%;position: absolute;top: 12.47%;right: 5.09%;background-color: #ffffff;border: 0.3em solid #BFBFBF;}
.ts{width:21.75%;height:6.03%;border-radius: 0.5em;background-color: #007aff;float: left;margin-left: 8.5%;margin-top: 9.48%;}
.seban_right{width: 16.5%;height: auto;position: absolute;bottom: 5%;right: 10%;}
.seban_left{width: 16.5%;height: auto;position: absolute;bottom: 5%;left: 10%;}
/*================四级页面-色彩课堂-第一章================end===========*/

/*================三级页面-自由画==============begin============*/
.free_photo{width: 72.87%;height: 42.55%;position: absolute;top: 26.01%;left: 12.78%;border: 0.4em solid #81BCAA;box-shadow: 0.4em 0.4em 0 0 rgba(0, 0, 0, 0.1);overflow: hidden}
#free_left{width: 6.11%;height: 5.74%;position: absolute;top: 43.09%;left: 2.78%;}
#free_right{width: 6.11%;height: 5.74%;position: absolute;top: 43.09%;right: 2.78%;}
#free_level{position: absolute;top: 22.35%;left: 13.5%;color: #81BCAA;}
.level{width: 4.00%;height: auto;}
#date{font-size: 1.2em;color: #66A592;position: absolute;bottom: 21.41%;right: 5.56%;}
/*================三级页面-自由画==============end============*/

/*=============二级页--画廊========begin========*/
#goback_3{width:13.98%;height: auto;position: absolute;bottom: 10.62%;left: 43.52%;}
.hualanggezi{width: 27.59%;height: 16.15%;box-shadow: 0.4em 0.4em 0 0 rgba(0, 0, 0, 0.1);overflow: hidden}
#hualang_1{position: absolute;top: 22.5%;left: 4.63%;border: 0.3em solid #7CB7A5;background: url("");background-size: 100% 100%;}
#hualang_2{position: absolute;top: 22.5%;left: 35.83%;border: 0.3em solid #7CB7A5;background: url("");background-size: 100% 100%;}
#hualang_3{position: absolute;top: 22.5%;left: 66.94%;border: 0.3em solid #7CB7A5;background: url("");background-size: 100% 100%;}
#hualang_4{position: absolute;top: 40.65%;left: 4.63%;border: 0.3em solid #7CB7A5;background: url("");background-size: 100% 100%;}
#hualang_5{position: absolute;top: 40.65%;left: 35.83%;border: 0.3em solid #7CB7A5;background: url("");background-size: 100% 100%;}
#hualang_6{position: absolute;top: 40.65%;left: 66.94%;border: 0.3em solid #7CB7A5;background: url("");background-size: 100% 100%;}
#hualang_7{position: absolute;top: 59.67%;left: 4.63%;border: 0.3em solid #7CB7A5;background: url("");background-size: 100% 100%;}
#hualang_8{position: absolute;top: 59.67%;left: 35.83%;border: 0.3em solid #7CB7A5;background: url("");background-size: 100% 100%;}
#hualang_9{position: absolute;top: 59.67%;left: 66.94%;border: 0.3em solid #7CB7A5;background: url("");background-size: 100% 100%;}
#last{width:22.13%;height: auto; position: absolute;left: 5.1%;bottom: 10.84%;}
#next{width:22.13%;height: auto; position: absolute;right: 5.1%;;bottom: 10.84%;}

/*长按删除页面*/
#delete{display: none;width: 80.83%;height: 32.14%;background-color:#ffffff;position: absolute;top: 29.27%;left: 8.89%;border: 0.3em solid #7CB7A5;box-shadow: 0.4em 0.4em 0 0 rgba(0, 0, 0, 0.1);z-index: 3;}
#text_delete{width: 39.86%;height: auto;position: absolute;top:24.07%;left:11.49%;}
#photo_delete{width: 23.14%;height: auto;position: absolute;top:40.72%;left:17.24%;}
#photo_delete_yes{width: 16.49%;height: auto;position: absolute;top: 19.34%;right: 15.98%;}
#photo_delete_no{width: 16.49%;height: auto;position: absolute;bottom: 19.34%;right: 15.98%;}
/*=============二级页--画廊========end========*/

/*============三级页--画廊=============begin===========*/
#galley_photo{width: 87.03%;height: 50.94%;position: absolute;top: 23.04%;left: 6.48%;border: 0.3em solid #7CB7A5;box-shadow: 0.4em 0.4em 0 0 rgba(0, 0, 0, 0.1);}
#galley_photo img{width: 100%;height: 100%;overflow: hidden;}
#share{width:auto;height: 8.18%;position: absolute;bottom: 11.11%;left: 30.48%;}
#back_gallery{width:auto;height: 8.18%;position: absolute;bottom: 11.11%;right: 30.48%;}
#save{z-index: 3;display:none;width:auto;height: 10.95%;position: absolute;bottom: 46.29%;left: 40.27%;}
#save_bj{z-index: 2;display:none;width: 100%;height: 100%;position: absolute;top: 0;left: 0; filter:alpha(opacity=90); /*IE滤镜，透明度50%*/  -moz-opacity:0.9; /*Firefox私有，透明度50%*/  opacity:0.9;/*其他，透明度50%*/}
/*============三级页--画廊=============end===========*/

/*=============二级页--设置，制作信息========begin========*/
#wenzishuoming{width: 50.65%;height:auto;position: absolute;top:39.02%;left: 24.63%;}
/*=============二级页--设置，制作信息========end========*/



